body{
  background-color: wheat;
}


h1{
  color: darkslategrey;
  text-align: center;
  font-size: 110px;
  font-family:fantasy;
}

h2{
  color: darkslategrey;
  text-align: center;
  font-size: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: wheat;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 80%;
}